<ol class="breadcrumb">
  <li><a [routerLink]="['/itemslist']">Home</a></li>
  <li>{{item?.title}}</li>
</ol>

<div>
  <h4>{{item?.title}}</h4>
  <img [src]="item?.image" style="width: 100%;"/>
  <h5>{{item?.description}}</h5>
</div>
