<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let item of items">
    <div class="thumbnail">
      <h4>{{item.title}}</h4>
      <rating [(ngModel)]="item.rating" [readonly]="true" style="color: #ff8302;"></rating>
      <img [src]="item.image" style="height: 250px;"/>
      <h5 style="height: 80px;">{{item.description}}</h5>
      <a [routerLink]="['/itemdetails/' + item.id]">See more...</a>
    </div>
  </div>
</div>
